/* CUSTOM STYLES HOST */

@font-face{
	font-family:'Poppins-Regular'; src:url('../fonts/poppins_regular.ttf');
}

@font-face{
	font-family:'Poppins-SemiBold'; src:url('../fonts/poppins_semibold.ttf');
}

@font-face{
	font-family:'Poppins-Light'; src:url('../fonts/poppins_light.ttf');
}

@font-face{
	font-family:'Poppins-Medium'; src:url('../fonts/poppins_medium.ttf');
}

@font-face{
	font-family:'Poppins-Bold'; src:url('../fonts/poppins_bold.ttf');
}


.top-header {background:#142846;padding:10px 0;}
.top-header a {margin:0 10px;transition:.6s;}
.top-header a:hover, .top-header a:focus {text-decoration:none;opacity:.6;transition:.6s;}
.top-header a i {color:#fff;}
.top-header .float-right {float:right;display:inline-block;}
.top-header a p {color:#fff;display:inline-block;margin:0 0 0 10px;font-family:'Poppins-Regular';font-size: 13px;}

.navbar-brand img {max-width:150px;}

.navbar-toggleable-md .navbar-nav .nav-link {font-family:'Poppins-SemiBold';text-transform:uppercase;color:#142846;font-size: 16px;margin: 0 5px;font-weight: normal;}

.ui[class*="left icon"].input>i.icon {left: auto;right: 1px;color: #0F2743;opacity: 1;font-size: 16px;}
.ui[class*="left icon"].input>input {padding:15px 0;padding-left: 15px !important;border-color: #000;border-radius: 0;font-family: 'Poppins-Regular';margin-bottom: 10px;font-size: 12px;opacity: 1;}

.ui.input {width:100%;}

.form-top-home form select {width: 100%;border: 1px #000 solid;height: 45px;padding: 0 10px;margin-bottom: 10px;font-family: 'Poppins-Regular';font-size: 12px;}
.form-top-home form input[type=submit] {background: #0F2743;text-align: center;width: 100%;border: none;color: #fff;padding: 5px 0;font-family: 'Poppins-SemiBold';font-size: 18px;margin-top: 15px;transition:.6s;border:1px transparent solid;}
.form-top-home form input[type=submit]:hover, .form-top-home form input[type=submit]:focus {background:none;border:1px #fff solid;transition:.6s;outline:none;cursor:pointer;}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family:'Poppins-Regular';
  color:#0F2743 !important;
  opacity:1;
}
::-moz-placeholder { /* Firefox 19+ */
  font-family:'Poppins-Regular';
  color:#0F2743 !important;
  opacity:1;
}
:-ms-input-placeholder { /* IE 10+ */
  font-family:'Poppins-Regular';
  color:#0F2743 !important;
  opacity:1;
}
:-moz-placeholder { /* Firefox 18- */
  font-family:'Poppins-Regular';
  color:#0F2743 !important;
  opacity:1;
}

.back-home-top {padding: 80px 0;background-size: cover !important;background-position: center !important;}

.formtop {background:#43A2A9;padding:40px 30px;}
.formtop hr {margin: 15px auto 25px;max-width: 55px;border-width: 3px;border-color: #0F2743;}
.formtop h3 {font-family:'Poppins-SemiBold';margin:0;color:#fff;text-align:center;}

.franja-amoblados {background:#0F2743;margin:5px 0;}
.franja-amoblados h3 {margin: 0;font-family: 'Poppins-SemiBold';color: #fff;padding: 10px;font-size: 17px;}

.back-dptos {min-height:100vh;background-position:center !important;background-size:cover !important;transition:.6s;}
.back-dptos h3 {transition:.6s;margin: auto 0;color: #fff;font-family: 'Poppins-SemiBold';font-size: 40px;background: rgba(0, 0, 0, 0.27);padding: 10px;}

.back-dptos:hover, .back-dptos:focus {transform:scale(1.1);transition:.6s;text-decoration:none;outline:none;filter:grayscale(0.7);}
.back-dptos:hover h3 {transform:scale(0.8);transition:.6s;}

.franja-destacados {text-align:center;background:#0F2743;padding:25px 0;}
.franja-destacados h3 {margin:0;color:#fff;font-family:'Poppins-Light';font-size:34px;}
.franja-destacados h3 strong {font-family:'Poppins-SemiBold';}

.destacados .row-padding {padding:60px 0;}

.destacados h2 {color:#0F2743;font-family:'Poppins-SemiBold';margin:0;}
.destacados hr {margin-top: 10px;border-width: 3px;border-color: #0C2743;max-width: 40px;margin-left: auto;margin-right: 0;margin-bottom:70px;}


.box {min-height: 60vh;background-size: cover !important;background-position: center !important;width:100%;position:relative;}
.box:hover, .box:focus {text-decoration:none;outline:none;}
.box .franja-box {background:#000;padding:4px 0;text-align:center;transition:.6s;}
.box .franja-box p {color:#fff;margin:0;font-family:'Poppins-Regular';}

.box .franja-info-01 {margin-top:auto;background:#43A2A9;transition:.6s;}
.box .franja-info-01 h4 {margin:0 auto;color:#fff;font-family:'Poppins-Medium';font-size: 14px;display:inline-block;}

.franja-info-01 .icon {text-align:center;background: #0F2743;display: inline-block;padding: 1px 3px 5px;}
.franja-info-01 .icon img {max-width: 80%;}

.box .franja-info-02 {margin-top:10px;background:#0F2743;transition:.6s;}
.box .franja-info-02 h5 {margin:0 auto;color:#fff;font-family:'Poppins-Medium';font-size: 18px;display:inline-block;}

.franja-info-02 .icon {text-align:center;background: #43A2A9;display: inline-block;padding: 5px 3px 5px;}
.franja-info-02 .icon img {max-width: 80%;}

.box:hover .absolute-info {transition:.6s;opacity:1;}
.box:hover .franja-info-01, .box:hover .franja-info-02, .box:hover .franja-box {opacity:0;transition:.6s;}
.box .absolute-info {position: absolute;top: 0;bottom: 0;right: 0;left: 0;background: rgba(15, 39, 67, 0.7);transition:.6s;opacity:0;}
.box .absolute-info h3 {font-family:'Poppins-Bold';color:#fff;margin:0;font-size: 17px;text-align: center;}
.info-text {text-align:center;}
.box .absolute-info p {color: #fff;transition:.6s;font-family: 'Poppins-Regular';margin: 10px auto 0;border-bottom: 2px #43A2A9 solid;text-align: center;font-size: 21px;display: inline-block;}
.box .absolute-info p:hover {opacity:.6;transition:.6s;}
.absolute-info .franja-info-02  {opacity:1 !important;}
.absolute-info .franja-info-02 .icon {background:#0F2743;}
.absolute-info .franja-info-02 {background:#43A2A9;}
.absolute-info .franja-info-02 h5 {padding:0 10px;font-size:17px;}


.newsletter-franja {background:#43A2A9;padding:30px 0;}
.newsletter-franja p {margin: 0 25px;font-family: 'Poppins-Regular';color: #fff;font-size: 19px;font-weight: normal;}
.newsletter-franja a {display: inline-block;color: #fff;font-size: 24px;margin: 0 5px;}
.newsletter-franja form {width:55%;}
.newsletter-franja form input {background: transparent;border: 1px #fff solid;padding: 10px 10px;color: #fff;width:75%;}
.newsletter-franja form input:focus {outline:none;}
.newsletter-franja form input[type=submit] {background: #0F2743;text-align: center;width: 24%;border: none;color: #fff;padding: 10px 10px;font-family: 'Poppins-SemiBold';font-size: 15px;margin-top: 0;transition:.6s;border:1px transparent solid;}
.newsletter-franja form input[type=submit]:hover, .newsletter-franja form input[type=submit]:focus {cursor:pointer;background:none;border:1px #fff solid;transition:.6s;outline:none;}


.newsletter-franja ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family:'Poppins-Regular';
  color:#fff !important;
}
.newsletter-franja ::-moz-placeholder { /* Firefox 19+ */
  font-family:'Poppins-Regular';
  color:#fff !important;
}
.newsletter-franja :-ms-input-placeholder { /* IE 10+ */
  font-family:'Poppins-Regular';
  color:#fff !important;
}
.newsletter-franja :-moz-placeholder { /* Firefox 18- */
  font-family:'Poppins-Regular';
  color:#fff !important;
}

.footer-info {padding:60px 0}
.footer-info .logo-foot {max-width:170px;}

.text-r {text-align:right;}
.info-contact {text-align: left;display: inline-block;margin: 0 30px auto;}

.footer-info h3 {font-family: 'Poppins-Regular';color:#142846;font-size:20px;}
.footer-info hr {border-color: #43A2A9;max-width: 40px;border-width: 2px;margin-right: auto;margin-left: 0;}
.footer-info ul {padding:0;margin:0px 0;list-style:none;}
.footer-info ul li p {font-family: 'Poppins-Regular';color:#142846;margin: 4px 0;font-size: 15px;}
.footer-info ul li a i {color: #142846;margin-right: 5px;}
.footer-info ul li a:hover, .footer-info ul li a:focus {outline:none;text-decoration:none;transition:.6s;opacity:0.6;}
.footer-info ul li a {transition:.6s;}

.franja-foot {background:#142846;padding:20px 0;}
.franja-foot p {margin: 0;color: #43A2A9;font-family: 'Poppins-Regular';font-size: 14px;}
.franja-foot p a {color:inherit;transition:.6s;}
.franja-foot p a:hover, .franja-foot p a:focus {opacity:0.5;transition:.6s;text-decoration:none;}